<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Testing on Windows-->
  	<title>BookBay</title>
    <style>
        .divScroll {
            overflow:scroll;
            height:500px;
            width:800px;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="icon" href="fluidicon.png" type="image/png">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="signin.css" rel="stylesheet">
  </head>

  <!-- Body-->
  <body ng-app = "BookStoreApp" >
	<div ng-controller = "TogglePage as l "> <!--col-md-12 was the error-->

	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
	      <div class="container-fluid">

	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span> 
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>

	          <a class="navbar-brand" href="#">BookBay</a>
			  <!--this defines the search bar-->	
				<form action="" class="navbar-form navbar-left col-lg-4">	
					<div class="col-lg-6 col-xs-4"> <!--this expands the width of the search bar--> 
						<div class="input-group col-lg-10">
							<input type="text" class="form-control">
							<div class="input-group-btn">
							<!--defines the action for drop down search--> 
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search <span class="caret"></span></button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li><a href="#">All</a></li>
									<li><a href="#">Author</a></li>
									<li><a href="#">Title</a></li>
									<li><a href="#">Publisher</a></li>
									<!--<li class="divider"></li> -- divider just incase--> 
									<li><a href="#">Seller</a></li>
								</ul>
							</div><!-- /btn-group -->
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
				</form>
			</div> <!-- /.navbar-header-->
			
			<!-- Up-Right Corner's button, clickable and use for login/signup. TODO: add cart here too.-->
	        <div id="navbar" class="navbar-collapse collapse">
	          <form class="navbar-form navbar-right col-lg-10" role="form" >
	            <!--<button type="submit" class="btn btn-success" ng-click = "l.toggle()" >
	            	<!-- Very interesting, when click on login/signup. it hide and back button show-->
	            	<!--<div ng-hide = "l.login_page" >Log in/Sign up</div>
	            	<div ng-show = "l.login_page">Back</div>
	            </button>-->
				
				<!--Input email for sign in -->
				<label for="inputEmail" class="sr-only">
		        	Email address
		        </label>
				<input type="email" id="inputEmail" class="form-control col-lg-2" placeholder="Email address" required autofocus>
				<!--Input password for sign in -->
		        <label for="inputPassword" class="sr-only">
		        	Password
		        </label>
		        <input type="password" id="inputPassword" class="form-control col-lg-2" placeholder="Password" required>
				
				<!-- Checkbox for remember sign in information. TODO: need functionality to support-->
		        <div class="checkbox"><input type="checkbox" value="remember-me"/>
		          <label>
		            Remember me
		          </label>
		        </div>
		        <!--Button for sign in -->
				<div class="col-lg-2">
		        <button class="btn btn-lg btn-primary btn-block" type="submit">
		        	Log in
		        </button>
				</div>
	          </form>
	        </div><!--/.navbar-collapse -->  
	      </div><!-- /.container-->
	    </nav><!-- Close: navbar-->
		<br/>
		<br/>
		<br/>
		
		<!--<div class="l.login_page">--> <!-- Login_page -->
		<div class="container col-lg-6"> <!-- container for login_page -->
		<!-- NaviBar:Tab -->
		<div ng-controller="NavTab as t">
			<!-- Tab List -->
			<ul class="nav nav-tabs" role="tablist" >
				<!-- L1: Home -->
				<li ng-class="{active:t.isSelected(1)}" role="presentation">
					<a href ng-click="t.setTab(1)"> Home </a>
				</li>
				<!-- L2: Buy Books -->
				<li ng-class="{active:t.isSelected(2)}" role="presentation">
					<a href ng-click="t.setTab(2)">	Buy Books </a>
				</li>
				<!-- L3: Sell a Book -->
				<li ng-class="{active:t.isSelected(3)}" role ng-click="tabs.setTab(3)">
					<a href ng-click="t.setTab(3)">	Sell a Book</a>
				</li>
				<!-- L4: I'm Feeling Lucky -->
				<li ng-class="{active:t.isSelected(4)}" role="presentation">
					<a href ng-click="t.setTab(4)">	I'm Feeling Lucky </a>
				</li>
				<!-- L5: Settings -->
				<li ng-class="{active:t.isSelected(5)}" role="presentation">
					<a href ng-click="t.setTab(5)">	Settings </a>
				</li>

			</ul>

			<!-- Display all list containing material.  TODO: repeat loop through -->
		
		    <div ng-show="t.isSelected(1)">
		    	<h2> Top Rated</h2>
			<div class="container">
                        <div class="row">
                            <div class="col-xs-2"> <!--this is the size of the box of the image--> 
                                <a href="#" class="thumbnail">
                                    <img src="recomendations/rec_book1.png"  height = "150px" width = "150px"> <!--get image and size-->
		                    <h4>J.K. Rowling</h4><!--this is meant to type the author's name--> 
                                    <span class="text-muted">Fantasy Fiction</span> <!-- this is for genre etc.--> 
                                </a>
                            </div>
							<div class="col-xs-2"> <!--this is the size of the box of the image--> 
                                <a href="#" class="thumbnail">
                                    <img src="recomendations/rec_book2.png"  height = "150px" width = "150px"> <!--get image and size-->
		                    <h4>J.K. Rowling</h4><!--this is meant to type the author's name--> 
                                    <span class="text-muted">Fantasy Fiction</span> <!-- this is for genre etc.--> 
                                </a>
                            </div>
                            <div class="col-xs-2"> <!--this is the size of the box of the image--> 
                                <a href="#" class="thumbnail">
                                    <img src="recomendations/rec_book3.png"  height = "150px" width = "150px"> <!--get image and size-->
		                    <h4>J.K. Rowling</h4><!--this is meant to type the author's name--> 
                                    <span class="text-muted">Fantasy Fiction</span> <!-- this is for genre etc.--> 
                                </a>
                            </div>
                            <div class="col-xs-2"> <!--this is the size of the box of the image--> 
                                <a href="#" class="thumbnail">
                                    <img src="recomendations/rec_book4.png"  height = "150px" width = "150px"> <!--get image and size-->
		                    <h4>J.K. Rowling</h4><!--this is meant to type the author's name--> 
                                    <span class="text-muted">Fantasy Fiction</span> <!-- this is for genre etc.--> 
                                </a>
                            </div>
							<div class="col-xs-2"> <!--this is the size of the box of the image--> 
                                <a href="#" class="thumbnail">
                                    <img src="recomendations/rec_book6.png"  height = "150px" width = "150px"> <!--get image and size-->
		                    <h4>J.K. Rowling</h4><!--this is meant to type the author's name--> 
                                    <span class="text-muted">Fantasy Fiction</span> <!-- this is for genre etc.--> 
                                </a>
                            </div>
                       </div>                       
		    	</div>
			
			<h2>Recommendations<h2/>
		    </div>

		    <div ng-show="t.isSelected(2)"> 
				<a href="#">
					<span class="glyphicon glyphicon-shopping-cart"></span> cart  
                </a>
			</div>
		    <div ng-show="t.isSelected(3)">
				<div class="panel panel-danger">
				<div class="panel-heading"><h4> My List</h4></div>
					<div class="panel-body">
						<table class="table" padding:"8px">
							<thead>  
								<tr>
									<th># </th>
									<th>Title</th>
									<th>Author</th>
									<th>Description</th>
									<th>Price($)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td width="100px"> <a href="GoT.html">Game of Throne</a></td>
									<td> Martin </td>
									<td> blah blah </td>
									<td> 50</td>
									<td><button class="btn btn-lg btn-success btn-block glyphicon glyphicon-edit" type="submit">
										</button>
									</td>									
									<td><button class="btn btn-lg btn-danger btn-block glyphicon glyphicon-remove" type="submit">
										</button>
									</td>
								</tr>
							</tbody>
						</table>	    
					</div>
				</div>
			</div>
		    <div ng-show="t.isSelected(4)"> tab4 </div>
		    <div ng-show="t.isSelected(5)"> tab5 </div>

		</div>
	</div>
		    </div> <!-- /container -->
			
			<div class="container col-lg-6"> <!-- container for login_page -->
		      <form class="form-signin" role="form"> <!-- form-->
			<br/>
		      	<h2 class="form-signin-heading">New to BookBay?<br/> Sign Up!</h2>
		        <!--Input first name for sign in -->
		        <label for="inputFirstName" class="sr-only">
		        	First Name
		        </label>
		        <input type="email" id="inputfName" class="form-control" placeholder="First Name" required>
				
				<!--Input last for sign in -->
		        <label for="inputLastName" class="sr-only">
		        	Last Name
		        </label>
		        <input type="password" id="inputlName" class="form-control" placeholder="Last Name" required>
				
				<!--Input email for sign in -->
		        <label for="inputPassword" class="sr-only">
		        	email
		        </label>
		        <input type="password" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				
				<!--Input password for sign in -->
		        <label for="inputPassword" class="sr-only">
		        	Password
		        </label>
		        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>	
				<!-- Input dropdown for security question 1> -->
				<div class="dropdown"> 				 
				 <select class="form-control">
					<option>What is the first name of the person you first kissed?</option>
					<option>What is the last name of the teacher who gave you your first failing grade?</option>
					<option>What is the name of the place your wedding reception was held?</option>
					<option>In what city or town did you meet your spouse/partner?</option>
					<option>What was the make and model of your first car?	</option>
				 </select>
					<label for="inputLastName" class="sr-only">
						security question 1
					</label>
					<input type="password" id="inputlName" class="form-control" placeholder="Security Question 1" required>
				</div><!--/dropdown-->
				
				<!-- Input dropdown for security question 2> -->
				<div class="dropdown"> 				 
				 <select class="form-control">
					<option>What is the first name of the person you first kissed?</option>
					<option>What is the last name of the teacher who gave you your first failing grade?</option>
					<option>What is the name of the place your wedding reception was held?</option>
					<option>In what city or town did you meet your spouse/partner?</option>
					<option>What was the make and model of your first car?	</option>
				 </select>
					<label for="inputLastName" class="sr-only">
						security question 2
					</label>
					<input type="password" id="inputlName" class="form-control" placeholder="Security Question 2" required>
				</div><!--/dropdown-->	
				
				<!-- Input dropdown for security question 3> -->
				<div class="dropdown"> 				 
				 <select class="form-control">
					<option>What is the first name of the person you first kissed?</option>
					<option>What is the last name of the teacher who gave you your first failing grade?</option>
					<option>What is the name of the place your wedding reception was held?</option>
					<option>In what city or town did you meet your spouse/partner?</option>
					<option>What was the make and model of your first car?	</option>
				 </select>
					<label for="inputLastName" class="sr-only">
						security question 3
					</label>
					<input type="password" id="inputlName" class="form-control" placeholder="Security Question 3" required>
				</div><!--/dropdown-->
				
		        <!--Button for Register a new account -->
				<button class="btn btn-lg btn-primary btn-block" ng-click = "l.toggle()" type="submit">
					<!--<a href="/signup.html">Sign up</a>-->
					<div ng-hide = "l.login_page" ></div>
	            	<div ng-show = "l.signup_page"></div>
					Sign Up
				</button>
		      </form> <!--/form -->
		    </div> <!-- /container -->
		</body>
		</html>
		
			