<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Libros</title>
    <style>
        .divScroll {
            overflow:scroll;
            height:500px;
            width:800px;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="index.css" rel="stylesheet">

  </head>

  <!-- Body-->
  <body ng-app = "BookStoreApp" ng-controller = "NavTab as t"> <!--this is new--> 

  <!--this maybe needs to be moved in top of nav class--> 
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Libros</a>
	    </div> <!--this is end of navbar-header-->

	<!--Enmanuel's test-->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav"> <!--ul 1-->
	      	<li ng-class= "{active:t.isSelected(1)}"><a href ng-click="t.setTab(1)">Home</a></li><!--Panel 1--> 
	        <li ng-class= "{active:t.isSelected(2)}"><a href ng-click="t.setTab(2)"><span class="glyphicon glyphicon-usd"></span> Buy</a></li><!--Panel 2 -->
          	<li ng-class= "{active:t.isSelected(3)}"><a href ng-click="t.setTab(3)"><span class="glyphicon glyphicon-plus"></span> Sell</a></li><!--Panel 3-->
	      </ul><!--ul 1 finishes-->

		<!--this begins the search bar--> 
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">        
                <input type="text" class="form-control" placeholder="Search a Book">
                <button type="submit" class="btn btn-default" > <span class="glyphicon glyphicon-search" ></span></button>
	        </div>
	      </form><!-- /.navbar-left-->
		<!--the search bar is done--> 

	      <form class="navbar-form navbar-right" role="navigation">
		<ul class="nav navbar-nav">              
                  <li ng-class= "{active:t.isSelected(4)}"><a href ng-click= "t.setTab(4)" ><span class="glyphicon glyphicon-shopping-cart"></span> Cart </a></li> <!--panel 4-->
                  <li><a href="login.html"><span class="glyphicon glyphicon-user"></span>Login</a></li> <!--panel 5-->
                  <li ng-class= "{active:t.isSelected(6)}"><a href ng-click= "t.setTab(6)"><span class="glyphicon glyphicon-question-sign"></span> Help </a></li> <!--panel 6-->
	        </ul>            
	     </form> <!-- /.navbar-right-->
  	   </div><!-- /.navbar-collapse -->
	 </div><!-- /.container -->
	</nav>


  <div class="container" type="body">
       <!-- Display all list containing material.  TODO: while loop to query data -->
<div ng-show = "t.isSelected(1)"> <!--ng-repeat can be used-->
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h4>Recommendations</h4>
      </div><!--panel-heading finished--> 

      <div class="panel-body">
            <div class="row">
                <div class="col-xs-2"> <!--this is the size of the box of the image--> 
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px"> <!--get image and size-->
                <h4>Label</h4><!--this is meant to type the author's name--> 
                        <span class="text-muted">Something else</span> <!-- this is for genre etc.--> 
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px">
                <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </a>
               </div>
                <div class="col-xs-2">
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px">
                <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </a>
               </div>
                <div class="col-xs-2">
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px">
                <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </a>
               </div>
           </div><!--class row done-->                        
      </div><!--class panel-body--> 
    </div> <!--panel primary finished--> 
    
   <div class="panel panel-danger">
      <div class="panel-heading">
        <h4> Top 6 Rating</h4>
      </div><!--panel-heading finished-->

      <div class="panel-body">
            <table class="table" padding:"8px">
              <thead>  
                <tr>
                    <th># </th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Price($)</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <td> 1</td>
                  <td width="100px"> <a href="GoT.html">  Game of Thrones </a></td>
                  <td> Martin </td>
                  <td> blah blah </td>
                  <td> 50</td>
                </tr>
              </tbody>
            </table>	    
      </div><!--panel-body finish-->
   </div><!--panel-danger finish--> 
  </div><!--t.isSelected(1)-->

<div ng-show = "t.isSelected(2)" ng-controller="tabs as tab">
		<ul class="nav nav-tabs" role="tablist" >
			<li ng-class="{active:tab.isSelected(1)}" role="presentation">
				<a href ng-click="tab.setTab(1)">
					Price
				</a>
			</li>
			<li ng-class="{active:tab.isSelected(2)}" role="presentation">
				<a href ng-click="tab.setTab(2)">
					Author
				</a>
			</li>
			<li ng-class="{active:tab.isSelected(3)}" role ng-click="tabs.setTab(3)">
				<a href ng-click="tab.setTab(3)">
					Genre
				</a>
			</li>

		</ul>
<div ng-show = "tab.isSelected(1)">database must handle this one</div>
<div ng-show = "tab.isSelected(2)">database must handle this two</div>
<div ng-show = "tab.isSelected(3)">database must handle this three</div>
</div><!--t.isSelected(2)-->

<div ng-show = "t.isSelected(3)">

	<div class="panel panel-success">

      		<div class="panel-heading">
        	  <h4>Your Current Books</h4>
      		</div><!--panel-heading finished--> 

	<div class="panel-body">
            <div class="row">
                <div class="col-xs-2"> <!--this is the size of the box of the image--> 
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px"> <!--get image and size-->
                <h4>Label</h4><!--this is meant to type the author's name--> 
                        <span class="text-muted">Something else</span> <!-- this is for genre etc.--> 
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px">
                <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </a>
               </div>
                <div class="col-xs-2">
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px">
                <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </a>
               </div>
                <div class="col-xs-2">
                    <a href="#" class="thumbnail">
                        <img src="this-image.jpg"  height = "150px" width = "150px">
                <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </a>
               </div>
	    </div><!--row done-->
	</div><!--panel-body done-->
</div><!--panel-success done-->
</div><!--t.isSelected(3)-->

<div ng-show = "t.isSelected(4)">the database must also handle this section</div>
</div>

  </body>
</html>
